.divEmpleo{
    height: 100vh;
    width: 100%;
    background: rgb(124,184,231);
    background: linear-gradient(90deg, rgba(124,184,231,1) 0%, rgba(30,88,155,0.98) 100%);
}

.main{
    height: 75vh;
    width: 98%;
    background-color: white;
    border-radius: 0.5rem;
    padding:1%;
   overflow: hidden;
   overflow-y: scroll;
   text-align: center;
}
h1,h3,h4{
    text-align: center;
    color: #6bade2;
}

.carousel{
   height: fit-content;
   width: 100%;
   margin: 2% auto;
   border-radius: 1rem;
}
.carouselItem{
    border-radius: 1rem;
}
.carousel img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.tarjetasEmpleo{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tarjetaEmpleo, .tarjetaEmpresa{
    height:fit-content;
    /* width: 60%; */
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid #4987C3;
    box-shadow: 0.25rem 0.23rem 0.7rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.button{
    height: 10%;
    width: 40%;
    margin: 2% auto !important;
    padding: 1% 1%;
    background-color: #6bade2;
    border:0.15rem solid #7697af;
    color:white;
    font-weight: bold;
    letter-spacing: 0.04rem;
    border-radius: 0.2rem;
}
.button a{
    color: white;
    text-decoration: none;
}
.button a:hover{
    color: white;
}